{
    "printWidth": 100,
    "tabWidth": 4,
    "useTabs": false,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "parser": "typescript",
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "jsxQuotes": "double",
    "proseWrap": "preserve",
    "embeddedLanguageFormatting": "auto"
  }